@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Custom Theme from Route Finder Dashboard */
  --color-primary: #e8172f;
  --color-secondary: #111827;
  --color-background-light: #f8f9fa;
  --color-background-dark: #1f2937;
  --color-surface-light: #ffffff;
  --color-surface-dark: #111827;

  --font-display: "Plus Jakarta Sans", "sans-serif";

  --radius-DEFAULT: 0.75rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2.5rem;

  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
  --shadow-card: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 2px 8px rgba(0, 0, 0, 0.04);

  /* Locations Page Specific */
  --color-sidebar-navy: #232B38;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}